.main-btn{
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 0.625rem solid var(--primary-color);
  padding: .375rem 1.875rem;
  border-radius: 1.75rem;
  line-height: 1.75rem;
  display: inline-block;
  transition: all 0.3 ease-out 0s;
  text-decoration: none;

}

.main-btn:hover{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-white);
}

h1{
  font-size: 5rem;
  line-height: 4.25rem;
  font-weight: 700;
  color: var(--text-white);
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: var(--secondary-font);
}
h3{
  margin-bottom: 1.875rem;
  line-height: 2.875rem;
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--primary-text);
  font-family: var(--secondary-font);
}
h3 span{
  color: var(--secondary-color)
}

h5{
  font-size: 5rem;
  line-height: 1;
  color: var(--primary-text);
  font-weight: 500;
  font-family: var(--secondary-font);

}
h6{
  font-size: .875rem;
  color: var(--primary-text);
  margin-bottom: .9375rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--secondary-font);

}
p{
  font-size: 1rem;
  color: var(--text-black);
  line-height: 1.625rem;
}
.section-title:after{
  content: "";
  background-image: url('/public/images/title-icon.webp');
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-top: -0.9375rem;
  height: .9375rem;
}

 
 .nav-link:hover{
   color: pink !important;
 }
 .nav-item{
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
 }
 .nav-btns .btn{
   background-color: white;
   color: rgb(85, 85, 85);
   margin: 5px;
   border: 1px solid rgb(85, 85, 85);

 }
 .nav-btns .btn:hover{
   background: pink;
   color: white;
   border: pink;
 }

 /* Hero section */
 .caption1 {
  font-size: 5rem;
 }

.caption2 {
  max-width: 37.5rem;
  margin: 0 auto;
  color: var(--text-white);
}

 @media(min-width: 992px){
   .nav-item{
       border-bottom: none;
   }
 }
 @media(max-width: 420px){
   .nav-btn-label{
       display: none;
   }
 }
 
 .booking-area {
  background: white;
  box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
  margin-top: -4rem;
  padding: 3.125rem 1.875rem;
  position: relative;
  z-index: 999;
 }
 .main-btn{
  font-size: .875rem;
  border: .0625rem solid blue;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: .875rem;
  color: black;
  font-weight: 500;
 }

 .booking-area .form-control, .booking-area .form-select{
  border: .0625rem solid blue;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: .875rem;
  color: black;
  font-weight: 500;
 }


/* Room */

.rooms_wrapper .room-items{
position:relative;
overflow:hidden;
}
.rooms_wrapper .room-items img{
  width: 100%;
  -webkit-transition: all 400ms ease-in 0s;
  transition: all 400ms ease-in 0s;
}
.rooms_wrapper .room-items:hover img{
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}

.rooms_wrapper .room-items::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: var(--bg-black);
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 400ms ease-in 0s;
  transition: all 400ms ease-in 0s;
}
.rooms_wrapper .room-items:hover::before{
opacity: 0.6;
}

.rooms_wrapper .room-items .room-item-wrap{
  position: absolute;
  left: 1.875rem;
  right: 1.875rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.rooms_wrapper .room-items .room-content{
  border: .125rem solid var(--bg-white);
  padding: 5rem 1.875rem;
  -webkit-transform: scale3d(1.2,1.2,1.2);
  transform: scale3d(1.2,1.2,1.2);
  transition: all 500ms ease-in 0s;
  opacity: 0;
}

.rooms_wrapper .room-items:hover .room-content{
opacity: 1;
-webkit-transform: scale3d(1,1,1);
transform: scale3d(1,1,1);
}

/* Services */
.service-item-wrap{
  background-color: var(--bg-color);
}
.service-item-area .a{
  display: block;
  margin-bottom: 2.825rem;
}
.service-menu-area .a .service-icon{
  height: 5.625rem;
  width: 5.625rem;
  background-color: var(--secondary-color);
  line-height: 5.625rem;
  text-align: center;
  border-radius: 100%;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-menu-area .a .service-icon:hover,
.service-menu-area .a.active .service-icon{
  background-color: var(--primary-color);
  color: var(--text-white);
  box-shadow: 0 .125rem rgb(34, 30, 31 / 40%);
}

.service-menu-area .a .service-icon span{
  color: var(--secondary-color);
}

.counter {
  background-image: url('../public/images/counter-bg.webp');
  background-position: center center;
  background-repeat: no repeat;
  background-size: cover;
  padding: 3.125rem;
  position: relative;
}

.counter::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bg-black);
  opacity: 0.5;
  z-index: 1;

}

.counter h1,
.counter p{
  position: relative;
  z-index: 3;
  color: var(--text-black);
}

/* Team Section */
.team_wrapper .card{
  position: relative;
  overflow: hidden;
}
.team_wrapper .team-info{
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 1.25rem;
  margin-bottom: -4.6875rem;
  transition: all 0.3s ease-in-out;
}

.team_wrapper .card:hover .team-info{
margin-bottom: 0;
}

.team_wrapper .team-info h5,
.team_wrapper .team-info p{
  color: var(--text-white);
}

.team_wrapper .team-info .social-network{
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.25rem;
  margin: 1.25rem -1.25rem -1.25rem;
  background-color: var(--primary-color);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team_wrapper .team-info .social-network li a{
width: 2rem;
height: 2rem;
line-height: 2rem;
display: block;
border-radius: 50%;
font-size: .9375rem;
color: var(--text-white);
border: .0625rem solid var(--bg-white);
}

/* Gallery */
.gallery_wrapper .gallery-item{
box-shadow: 0 0 .1875rem rgba(0, 0, 0, 3);
overflow: hidden;
position: relative;
}

.gallery_wrapper .gallery-item:before,
.gallery_wrapper .gallery-item:after,
.gallery_wrapper .gallery-item-content:before,
.gallery_wrapper .gallery-item-content:after{
  content: "";
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.gallery_wrapper .gallery-item:after{
  top: 50%;
}
.gallery_wrapper .gallery-item:hover:after{
  top: 0%;
  opacity: 75%;
}
.gallery_wrapper .gallery-item:hover:before{
  left: 50%;
  opacity: 75%;
}
.gallery_wrapper .gallery-item-content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}
.gallery_wrapper .gallery-item:hover .gallery-item-content{
  opacity: 75%;
}
.gallery_wrapper .gallery-item-content:before,
.gallery_wrapper .gallery-item-content:after{ 
  top: 0;
  left: 50%;
  z-index: -1;
}
.gallery_wrapper .gallery-item-content:before{
  top: 50%;
  opacity: 75%;
}
.gallery_wrapper .gallery-item-content:after{ 
  top: 50%;
}
.gallery_wrapper .gallery-item:hover .gallery-item-content:after{
  opacity: 75%;
  left: 0;
}

/* Price Section */
.price_wrapper .card{
  box-shadow: 0 .125rem .25rem rgb(34 30 31 / 40%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.price_wrapper .card:hover{
  background-color: var(--secondary-color);
}

.price_wrapper .card:hover h3,
.price_wrapper .card:hover h5,
.price_wrapper .card:hover p{
  color: var(--bg-white);
}
.price_wrapper .card:hover .main-btn{
  color: var(--text-white);
  border-color: var(--bg-white);
}