* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Background Color */
  --primary-color: #021832;
  --secondary-color: #5c4f3c;
  --bg-color: #f4f4f4;
  --bg-white: #fff;
  --bg-black: #000;

  /* Text Style */
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Oswald', sans-serif;
  --primary-text: #021832;
  --text-white: #fff;
  --text-black: #151515;
  --text-gray: #e4e4e4;

}

body{
  font-family: var(--primary-font);
  background-color: var(--bg-white);
}

section{
  padding: 3.125rem
}
::-webkit-scrollbar {
  width: .375rem,
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

